#topbar {
    background-color: black;
    overflow: hidden;
  }
  
  #logo {
    display: block;
    color: white;
    text-align: center;
    font-size: 40px;
  }

  .button{
      border: violet;
      border-radius: 3px;
      background-color: violet;
      font-size: 19px;
      color: white;
  }

  .playerType{
    font-weight: bold;
  }

  .player{
    margin-right: 36px;
  }